*
{
    margin: 0%;
    padding: 0%;

}

html
{
    scroll-behavior: smooth;
}


.menu-navbar{

    background-color: #4AF0CC;

    
}

.text-a
{
    color: white;
}


h1
{
    text-align: center;
    font-size: larger;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #4A74F0;
    padding: 30px 0;
    color: #fff;
  }
  
  #footer .copyright {
    text-align: center;
  }
  
  * + #footer .copyright {
      margin-top: 50px;
  }
  
  #footer .redesSociales {
    text-align: center;
  }
  
  #footer .redesSociales .siguenos a{
    color: #fff;
  }
  
  #footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;
  }

  a {
    color: #4AF0CC;
    transition: 0.5s;
  }
  
  a:hover, a:active, a:focus {
    color: #4AF094;
    outline: none;
    text-decoration: none;
  }
  
  #footer .social-list{
    float: center;
    padding: 10px;
  }
  
  #footer .social-list > * {
      margin-top: 0;
  }
  
  #footer .social-list a:hover {
      background: transparent;
      color: #fff;
  }
  
  #footer ul.social-list {
      margin-left: -10px;
    margin-right: -10px;
    
  }
  
  #footer ul.social-list > li {
    display: inline-block;
  }
  
  #footer ul.social-list > * {
      margin-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
  }
  
  #footer ul.social-list a {
    font-size: 32px;
    color: #fff;
  }
  
  #footer ul.social-list a:hover {
    font-size: 32px;
    color: #4AF094;
  }
  
  @media (min-width: 768px) {
      #footer ul.social-list {
          margin-left: -18px;
          margin-right: -18px;
      }
      #footer ul.social-list > * {
          margin-top: 36px;
          padding-left: 18px;
          padding-right: 18px;
      }
  }
  
  #footer-modern .social-list > li {
      margin-top: 0;
  }
  
  @media (min-width: 768px) {
      #footer-modern .social-list > li {
          display: block;
          margin-bottom: 15px;
      }
  }
  
  * + #footer .social-list {
      margin-top: -30px;
  }

  /*--------------------------------------------------------------
# Fin Footer
--------------------------------------------------------------*/

  /*--------------------------------------------------------------
# Cartas 
--------------------------------------------------------------*/
  .carta .icon-nos
  {
    float: center;
    font-size: 50px;
    text-align: center;
    color: #4AF094;
  }

  .card-item{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  /*--------------------------------------------------------------
# Fin Cartas 
--------------------------------------------------------------*/
  .servicios
  {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .nosotros
  {
    background-color: #4AF094;
    color:#fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  /*--------------------------------------------------------------
# Galeria
--------------------------------------------------------------*/
  .galeria {
    padding: 40px;
  }
  
  .galeria .carta {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
  }
  
  .galeria .carta:hover {
    transform: translateY(-10px) scale(1.02);
  }
  
  .galeria .lightbox img {
    border-radius: 4px 4px 0 0;
  }
  
  .galeria .caption{
    padding: 26px 30px;
    text-align: center;
  }
  
  .galeria .caption h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    color: #4AF094;
  }
  
  .galeria .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
  }
  
  .galeria .caption p {
    font-size: 12px;
    color: #7b7d7d;
    margin: 0;
  }

  .galeria-contenedor h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
  }
  
  .galeria-contenedor p.pag-descripcion {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #474747;
  }







  